@charset "UTF-8";


.wrap{
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    width: 80%;
    margin: 0 auto;
    row-gap: 0.5px;
    column-gap: 0.5px;
    grid-template-columns: 0.5fr 0.8fr 1.1fr;
  	grid-template-rows: 150px 150px 700px 200px;
  	grid-template-areas:
      "header header header"
      "sidebar-1 contentWrap contentWrap"
      "sidebar-2 contentWrap contentWrap"
      "footer footer footer";
}

.wrap div{
	/*border: 1px solid white;*/
} 

.header {
  grid-area: header;
}
.logo{
	grid-area:logo;
}
.sidebar-1 {
  grid-area: sidebar-1;
}
.sidebar-2{
  grid-area: sidebar-2;
}

.footer {
  grid-area: footer;
  padding-bottom: 30px;
  
}

.contentWrap{
	grid-area: contentWrap;
}

/* OTHER STYLES */