@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  cursor: pointer;
}
a,
button {
  cursor: pointer;
}
a {
  color: black;
  text-decoration: none;
}
input,
button {
  outline: none;
}
/*reset end*/


.item {
  border-radius: 4px;
  border: 1px solid #171717;
  display: flex;
  font-weight: bold;
}

.header {
	align-items: flex-end;
	justify-content: center;
}
.logo{
	align-items: center;
	justify-content: center;
}
.sidebar-1 {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sidebar-2 {
 	flex-direction: column;
 	height: 100%;
}
.nav_list_wrap{
	list-style: none;
	padding: 0;
}
.nav_list{
	margin: 10px 0;
	padding: 20px 0;
	border-radius: 8px;
}
.nav_list:hover{
	background-color: rgb(229, 229, 229);
}
.nav_list a{
	font-size: 18px;
}
.nav_list a:hover{
	color:royalblue;
	text-decoration: none;
	
}
.footer {
align-items: flex-end;
    justify-content: right;
    font-weight: 400;
 	font-size: 12px;
 	padding-right: 30px;
}
#circle {
  width : 100px;
  height : 100px;
  border-radius: 50%;
  background-color: white;
  border: solid 1px;

}
